@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Nunito:wght@500;700;900&display=swap');

/* Style Tambahan */
.glass-heavy {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}